<div class="container">
    <div class="row col-md-12">
      <ul>
        <li class="nav-item dropdown">
          <a type="button" class="btn btn-menu dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu Provisorio
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="/painel">Painel</a>
            <a class="dropdown-item" routerLink="/empresa">Cadastro de empresas</a>
            <a class="dropdown-item" routerLink="/usuario">Cadastro de Usuários</a>
            <a class="dropdown-item" routerLink="/desconto">Gerenciar Descontos</a>
            <a class="dropdown-item" routerLink="/cartao">Gerenciar Cartões</a>
            <a class="dropdown-item" routerLink="/fichafinanceira">Ficha Financeira</a>
            <a class="dropdown-item" routerLink="/shopping">shopping</a>
          </div>
        </li>
      </ul>
      <div class="col-md-6">
        <div class="row col-md-12">
          <div class="border q1">
            <div class="h6 d-flex justify-content-center mt-4">Mensalidade de Junho</div>
            <div class="h5 d-flex justify-content-center">Pagamento realizado</div>
            <div class="container">
              <table class="table table-borderless">
                <thead>
                  <tr class="text-center">
                    <th scope="col">Mensalidade:</th>
                    <th scope="col">Data:</th>
                    <th scope="col">Pagamento:</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center">
                    <td class="border-left-0">Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>
              <div>
                <button class="btn btn-primary col-md-12">Comprovante de pagamento</button>
              </div>
              <br/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="row">
          <div class="row">
            <div class="d-flex justify-content-around">
              <button class="col-md-5 btn btn-primary">
                <div>Icone</div>
                <div>Texto função</div>
            </button>
            <button class="col-md-5 btn btn-primary">
              <div>Icone</div>
              <div>Texto função</div>
            </button>
            </div>
          </div>
          <div class="row mt-2">
            <div class="d-flex justify-content-around">
              <button class="col-md-5 btn btn-primary">
                <div>Icone</div>
                <div>Texto função</div>
            </button>
            <button class="col-md-5 btn btn-primary">
              <div>Icone</div>
              <div>Texto função</div>
            </button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
