<div class="ajuste-carrosel-casa">
  <div id="carrosel">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 img" src="assets/shopp03.png" alt="Primeiro Slide">
          <div class="carousel-caption d-none d-md-block">
            <h1>Shopping do Empreendedor</h1>
            <p>Bem vindo a Casa do Empreendedor de Goiás</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 img" src="assets/teste02.jpg" alt="Segundo Slide">
          <div class="carousel-caption d-none d-md-block">
            <h1>Gestão de negocios</h1>
            <p>É aqui na casa do empreendedor</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 img" src="assets/teste03.jpg" alt="Terceiro Slide">
          <div class="carousel-caption d-none d-md-block">
            <h1>Gestão de negocios</h1>
            <p>É aqui na casa do empreendedor</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>
  </div>
</div>
<div id="faixa" class="d-flex align-items-center justify-content-center">
    <p style="margin-top: 15px;">CASA DO EMPREENDEDOR DE GOIÁS</p>
</div>
<div id="quemsomos" class="mb-5">
  <div class="container">
    <div class="row col-12 col-md-12">
      <img class="quemsomos" src="assets/ceg.png" alt="Casa do Empreendedor de Goiás">
    </div>
    <div class="row d-flex justify-content-around">
      <div class="col-12 col-md-6 mt-4">
        <p>Empresa criada em 2019, a partir da experiência em estudos, pesquisa e 30 anos de atuação em
          organizações diversas, a Casa do Empreendedor de Goiás é formada por uma Direção e grupo de
          Consultores empenhados na missão de apoiar Empreendedores e Empreendedoras no alcance de seus Objetivos
          de Sucesso e Desenvolvimento, disponibilizando seus conhecimentos e experiências.<br>
          Nossa empresa empenha suas energias e recursos, especialmente sua equipe de profissionais e colaboradores,
          no sentido de tornar-se referência no apoio, suporte e fortalecimento do Empreendedorismo no estado de Goiás.
        </p>
        <P class="d-flex justify-content-center">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">
              Saiba mais
          </button>
        </P>
      </div>
      <div class="col-12 col-md-6 mt-4 ">
        <div><img src="assets/marilena.jpg" class="img img-thumbnail " alt="Marilena Silva"></div>
      </div>
    </div>
  </div>
</div>
<div id="servicos">
    <div class="container">
      <div class="text-center h1 mb-5 titulo" style="color: #fff;">
          NOSSOS SERVIÇOS
      </div>
      <div class="d-flex flex-nowrap" style="overflow: auto; height: 455px;">
        <div class="col-12 col-md-3">
          <div class="card card-sombra">
            <img class="card-img-top" src="assets/shopping01.jpg" alt="Shopping do Empreendedor">
            <div class="card-body">
              <h5 class="card-title">Shopping do Empreendedor</h5>
              <p class="card-text">Rede de lojas formada por todos os nossos parceiros, confira descontos, promoções e muito mais.</p>
              <a routerLink="/home" type="button" class="btn btn-primary">Conheça o Shopping</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="card card-sombra">
            <img class="card-img-top" src="assets/rede01.jpg" alt="Rede do Empreendedor">
            <div class="card-body">
              <h5 class="card-title">Rede do Empreendedor</h5>
              <p class="card-text">Essa é a nossa rede de desconto, para comprar ou vender, venha fazer parte e peça seu cartão.</p>
              <a routerLink="" type="button" class="btn btn-primary">Conheça a Rede</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="card card-sombra">
            <img class="card-img-top" src="assets/pessoas01.jpg" alt="Desenvolvimento Humano">
            <div class="card-body">
              <h5 class="card-title">Desenvolvimento Humano</h5>
              <p class="card-text">Desenvolvimento e gestão de carreira é negócios, Coach Individual, em Grupo e de Equipes.</p>
              <a routerLink="" type="button" class="btn btn-primary">Saiba mais</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="card card-sombra">
            <img class="card-img-top" src="assets/pessoas02.jpg" alt="Consultoria Pessoal e Empresarial">
            <div class="card-body">
              <h5 class="card-title">Consultaria Pessoal é Empresarial</h5>
              <p class="card-text">Registro para MEI, Emprestimos, Leis de Incentivo(Artistas e ONGS) é Projetos.</p>
              <a routerLink="" type="button" class="btn btn-primary">Saiba mais</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="card card-sombra">
            <img class="card-img-top" src="assets/formatura.jpg" alt="Formação">
            <div class="card-body">
              <h5 class="card-title">Formação para Empreendedores é Líderes</h5>
              <p class="card-text">Palestras, Cursos e Oficinas, Presenciais é Online.</p>
              <a routerLink="" type="button" class="btn btn-primary">Saiba mais</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="card card-sombra">
            <img class="card-img-top" src="assets/emprestimo.jpg" alt="Formação">
            <div class="card-body">
              <h5 class="card-title">Empréstimos é Financiamentos</h5>
              <p class="card-text">Com taxas a partir de 0,25% a.m. 0,5% a.m. e outros.</p>
              <a routerLink="" type="button" class="btn btn-primary">Saiba mais</a>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-danger" style="padding: 10px; box-shadow: 1px 1px 2px #000;">
            Conheça todos os nossos serviços
        </button>
      </div>
    </div>
</div>
<div id="parceiros">
    <div class="container">
      <div class="text-center h1 parceiro">
        ALGUNS PARCEIROS
      </div>
      <div class="row col-12 col-md-12 parceiros">
        <div class="col-12 col-md-3">
          <div >
            <img class="card-img-top" src="assets/ceg.png" alt="Consultoria Pessoal e Empresarial">
            <div class="card-body">
              <h5 class="card-title">Tenha descontos de 20%</h5>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div >
            <img class="card-img-top" src="assets/differentelogo.jpg" alt="Consultoria Pessoal e Empresarial">
            <div class="card-body">
              <h5 class="card-title">Tenha descontos de 20%</h5>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div >
            <img class="card-img-top" src="assets/vivabemzen.png" alt="Consultoria Pessoal e Empresarial">
            <div class="card-body">
              <h5 class="card-title">Desconto de 20%</h5>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div >
            <img class="card-img-top" src="assets/kentec.png" alt="Consultoria Pessoal e Empresarial">
            <div class="card-body">
              <h5 class="card-title">Confira!</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center h1 parceiro">
        VENHA FAZER PARTE VOCÊ TAMBÉM!
      </div>
      <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-primary parc">
            Veja todos os nossos parceiros
        </button>
      </div>
    </div>
</div>
<div id="faixa" class="d-flex align-items-center justify-content-center">
  <p style="margin-top: 15px;">CASA DO EMPREENDEDOR DE GOIÁS</p>
</div>
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="TituloModalCentralizado" style="text-transform: uppercase;">Conhecendo Melhor a Casa do Empreendedor de Goiás</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-md-12 text-justify mt-2">
            <h2>MISSÃO</h2>
            <p class="indentar">Apoiar Empreendedores e Empreendedoras no alcance de seus Objetivos de Sucesso e Desenvolvimento.</p>

            <h2>VISÃO</h2>
            <p class="indentar">Ser, em cinco anos (até 2026), referência no apoio e suporte ao Empreendedorismo em Goiás e no Brasil.</p>

            <h2>VALORES</h2>
            <p class="indentar">Fundamentamos nossas ações nos valores da Justiça dos atos, na Determinação rumo aos objetivos, na Ética com clientes,
              parceiros e sociedade, na Força do nosso empenho e na Fé Inabalável em nossas certezas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

